/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.fondo {
  background-image: url("https://img.freepik.com/foto-gratis/comida-ingredientes_1220-4884.jpg?t=st=1688753099~exp=1688753699~hmac=91c4c5c03875ff67b4a05b26fb549278fa22bf86077b2f95cbee042fdb0f6217");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.text-s {
  padding: 2rem 3rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 23px;
  background: rgb(255 168 168 / 50%);
  height: 75vh;
  display: flex;
  align-items: center;
}

.centrado {
  height: 95vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
