<!-- <p>acerca works!</p>
 -->
<div class="py-24 sm:py-32">
  <div
    class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-1"
  >
    <div class="max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        INTEGRANTES
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        Actividad en equipos. Revisar el código de la aplicación
        (recetas), ejecútala e identifica los elementos del patrón MVC
        (Modelo-Vista-Controlador).
      </p>
    </div>
    <ul
      role="list"
      class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
    >
      <li class="users">
        <div class="flex items-center gap-x-6">
          <img
            class="h-16 w-16 rounded-full"
            src="../../../assets/images/1.jpg"
            alt=""
          />
          <div>
            <h3
              class="text-base font-semibold leading-7 tracking-tight text-gray-900"
            >
              Styven Padilla
            </h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">
              Estudiante de Software/Backend
            </p>
          </div>
        </div>
        <div class="flex items-center gap-x-6">
          <img
            class="h-16 w-16 rounded-full"
            src="../../../assets/images/4.jpg"
            alt=""
          />
          <div>
            <h3
              class="text-base font-semibold leading-7 tracking-tight text-gray-900"
            >
              Sebastián Merino
            </h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">
              Estudiante de Software/Backend
            </p>
          </div>
        </div>
        <div class="flex items-center gap-x-6">
          <img
            class="h-16 w-16 rounded-full"
            src="../../../assets/images/3.jpg"
            alt=""
          />
          <div>
            <h3
              class="text-base font-semibold leading-7 tracking-tight text-gray-900"
            >
              Kevin Saeteros
            </h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">
              Estudiante de Software/Frontend
            </p>
          </div>
        </div>
        <div class="flex items-center gap-x-6">
          <img
            class="h-16 w-16 rounded-full"
            src="../../../assets/images/2.jpg"
            alt=""
          />
          <div>
            <h3
              class="text-base font-semibold leading-7 tracking-tight text-gray-900"
            >
              Adrian Méndez
            </h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">
              Estudiante de Software/Frontend
            </p>
          </div>
        </div>
      </li>

      <!-- More people... -->
    </ul>
  </div>
</div>
